<!-- Start header -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="s0EXQeM2snas5wN8bLZP-OIWsv6faDnYrkryZGwqci4" />
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet"
      href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="icon" href="{{ '/assets/favicon.png' | relative_url }}">
    {% seo %}
    {% include head-analytics.html %}
<!-- End header -->
